.dub
docs.json
__dummy.html
docs/
/macoswindowing
macoswindowing.so
macoswindowing.dylib
macoswindowing.dll
macoswindowing.lib
macoswindowing-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*/.DS_Store
libmacoswindowing.a
